<div class="container mt-3">
    <h3 class="text-center">Formulario</h3>
    <form #formulario="ngForm" *ngIf="ticket">
        <input class="form-control" name="id" [(ngModel)]="ticket._id" disabled hidden>
        <div class="mb-3">
            <label class="form-label">Precio</label>
            <input type="number" class="form-control" name="precio" [(ngModel)]="ticket.precioTicket" autocomplete="off"
                required #precio="ngModel" min="1">
            <div *ngIf="precio.invalid && precio.dirty" class="text-danger mb-3">
                <div *ngIf="precio.errors?.['required']">
                    Debe ingresar el precio del ticket.
                </div>
                <div *ngIf="precio.errors?.['min']">
                    El precio del ticket no puede ser negativo o nulo.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Tipo de Espectador</label>
            <select name="categoriaEspectador" [(ngModel)]="ticket.categoriaEspectador" class="form-select" required #categoriaEspectador="ngModel">
                <option value="Local">Local</option>
                <option value="Extranjero">Extranjero</option>
            </select>
            <div *ngIf="categoriaEspectador.invalid && categoriaEspectador.touched" class="text-danger mb-3">
                <div *ngIf="categoriaEspectador.errors?.['required']">
                    Debe ingresar la categoria del ticket.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Espectador</label>
            <select class="form-select" name="espectador" [(ngModel)]="ticket.espectador" required #espectador="ngModel">
                <option [value]="espectador._id" *ngFor="let espectador of espectadores">{{espectador.nombre}}
                    {{espectador.apellido}}, {{espectador.dni}}</option>
            </select>
            <div *ngIf="espectador.invalid && espectador.touched" class="text-danger mb-3">
                <div *ngIf="espectador.errors?.['required']">
                    Debe seleccionar al espectador.
                </div>
            </div>
        </div>
        <button type="button" *ngIf="accion=='new'" class="btn btn-outline-primary" 
            [disabled]="formulario.invalid" 
            (click)="venderTicket()" routerLink="/tickets">Vender</button>
        <button type="button" *ngIf="accion=='update'" class="btn btn-outline-warning" 
            [disabled]="formulario.invalid" 
            (click)="modificarTicket()" routerLink="/tickets">Modificar</button>
        <a class="btn btn-outline-dark ms-1" routerLink="/tickets">Volver</a>
    </form>

</div>